# conditional on platform, etc. https://packaging.python.org/en/latest/specifications/dependency-specifiers/

age; python_version > "2.7"  # 0.5.1 - CPython only, not pypy/jython
pywin32; sys_platform == "win32"
