git+https://github.com/clach04/chi_io.git  # needed for Tombo Blowfish CHI support
colorama
keyring==18.0.1  # last py2.7 and Py3 compat version
pycryptodome  # for performance - actually used by pyzipper so not explictly needed
pyzipper; python_version > "2.7"
python-gnupg
openssl_enc_compat  # https://github.com/clach04/openssl_enc_compat/
jenc>=0.0.3
age; python_version > "2.7"  # 0.5.1
# pywin32  # Windows only - for GUI password prompt

percolator
